body {
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: var(--container-size);
    border: none;
    border-bottom: 2px solid var(--border);

    nav>ul {
        flex-flow: row;
        padding: 0.25rem 1rem;
    }

}

main {
    width: 100%;
    height: calc(100% - var(--container-size));
    gap: var(--gap);

    .about {
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: var(--gap);

        p {
            line-height: 1.5rem;
        }
    }
}

@media screen and (min-width: 800px){
    header, main{
        border: 2px solid var(--border);
        max-width: 700px;
        height: auto;
        border-radius: 1rem 1rem 0 0;
    }

    main{
        border-radius: 0;
        border-top: none;
    }
}